<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <meta property="og:url" content='https://ipfs.io/ipfs/bafkreiawqh4354h6ox7cuks2vaaxa5vpoidissil3wzx2tckwzd3pezhcm' />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nakama" />
    <meta property="og:description" content="Lorem Ipsum Bleh Bleh Bleh" />
    <meta property="owner" content="5f93da9dda2fd5466c0a28e9" />
    <title>255963987080829352408854094159487 / 5f93f13d2d090f6b44256ae8 </title>
</head>

<body style="margin: 0px; background: rgb(14, 14, 14);">
    <div>
        <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in; width: 100%; height: 100%;" 
        data-portId="5f93f13d2d090f6b44256ae8"" 
        data-certificateId="255963987080829352408854094159487" 
        data-transactionHash="0xe309aa2676eea3ca1bd75e967b843926d4ee0c7ff1f015be02aadcaf0330e2a5"
        src="https://ipfs.io/ipfs/bafkreiawqh4354h6ox7cuks2vaaxa5vpoidissil3wzx2tckwzd3pezhcm">

    </div>
    </body>

</html>