<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <meta property="og:url" content='https://ipfs.io/ipfs/bafybeifl6qmbr5mr7kxogwckuplwxau6kr3fj56kiqt4q56klhskvcwfbi' />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Winter Woods" />
    <meta property="og:description" content="Lorem Ipsum Bleh Bleh Bleh" />
    <meta property="owner" content="5f93da9dda2fd5466c0a28e9" />
    <title>282547671645781013706744643403336 / 5f9e280bd2806e1634b039ef </title>
</head>

<body style="margin: 0px; background: rgb(14, 14, 14);">
    <div>
        <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in; width: 100%; height: 100%;" 
        data-portId="5f9e280bd2806e1634b039ef"" 
        data-certificateId="282547671645781013706744643403336" 
        data-transactionHash="0xc7d0912c24a1a73a89ad21938ae51cd74a2e1c36195e2453e3a780ea1dc25403"
        src="https://ipfs.io/ipfs/bafybeifl6qmbr5mr7kxogwckuplwxau6kr3fj56kiqt4q56klhskvcwfbi">

    </div>
    </body>

</html>