.galleryContainer {
    padding: 350px 65px 0px;
}

@media screen and (min-width: 1201px) {
    .galleryContainer {
        padding: 350px 65px 0px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .galleryContainer {
        padding: 315px 65px 0px!important;
    }
}

.mediaRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.mediaColumn {
    flex: 10%;
    max-width: 10%;
    padding: 0 4px;
}

.mediaGrid {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.mediaContainer:hover div {
    display: block;
}

@media screen and (min-width: 1001px) {
    .mediaType {
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
    }
    .mediaContainer {
        cursor: pointer;
        height: 150px;
        width: 100%;
    }
    .mediaOverlay {
        height: 150px;
        width: 100%;
        background: #3e63674f;
        position: absolute;
        top: 0;
        padding-bottom: 0px;
        cursor: pointer;
        display: none;
    }
    .overlayMetrics {
        font-size: 20px;
        color: white;
        text-align: left;
        height: inherit;
    }
    .overlayMetrics p {
        font-family: 'Montserrat', sans-serif;
        margin: 5px 0px;
        position: absolute;
        bottom: 5px;
        font-size: 10px;
        left: 27px;
    }
    .mediaTitle {
        top: 5px;
        left: 8px !important;
        font-size: 11px !important;
    }
    .mediaBy {
        font-size: 8px !important;
        padding-top: 3px;
        top: 25px;
        left: 8px!important;
        color: #ffffffad;
    }
    .overlayMetrics i {
        position: absolute;
        bottom: 12px;
        font-size: 10px;
        left: 12px;
    }
    .mediaThumbnail {
        vertical-align: middle;
        height: 100%;
        min-width: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .mediaType {
        padding-bottom: 10px;
        width: 100%;
        position: relative;
    }
    .mediaOverlay {
        height: 100%;
        width: 100%;
        background: #3e63674f;
        position: absolute;
        top: 0;
        padding-bottom: 0px;
        cursor: pointer;
        display: none;
    }
    .overlayMetrics {
        margin: 50px auto 0px;
        font-size: 18px;
        color: white;
        text-align: left;
        height: inherit;
    }
    .overlayMetrics p {
        margin: 5px 0px;
        position: absolute;
        bottom: 5px;
        font-size: 12px;
        left: 30px;
    }
    .overlayMetrics i {
        position: absolute;
        bottom: 12px;
        font-size: 12px;
        left: 12px;
    }
    .mediaContainer {
        cursor: pointer;
        height: 100%;
        width: 100%;
    }
    .mediaThumbnail {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
}