html {
	overflow: scroll;
	scroll-behavior: smooth;
}

body {
	height: auto;
}

button {
	outline: none ;
}

/*Make scrollbar transparent */

::-webkit-scrollbar {
	width: 0px !important;
	height: 0px !important;
	background: transparent;
}

/*Override Chrome autofill*/

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #081229 inset !important;
}

input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
}

.fitContent {
	width: fit-content!important;
}

.mt10 {
	margin-top: 10px;
}

.none {
	display: none;
}

.heightInherit {
	height: inherit;
}

.logoBtn_public {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	color: #c10c46;
	font-size: 40px;
	background: #09183c00;
	border: 0px;
	width: 186px;
	height: auto;
}

.logoBtn_login {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	color: #c10c46;
	font-size: 40px;
	background: #09183c00;
	border: 0px;
	width: 360px;
	height: auto;
	text-align: center;
}

.logoBtn_public:hover {
	cursor: pointer;
}

.logoBtn_login:hover {
	cursor: pointer;
}

.headerButton {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	font-size: 25px;
	background: #00020800;
	border: 0px;
	height: 50px;
	margin-left: 30px;
}

.headerButttonLink {
	color: #d41250;
	text-decoration: none;
}

.headerButttonLink:hover {
	color: #ff0051;
	cursor: pointer;
	text-decoration: none;
}

.parentContent {
	height: 10000px;
	overflow-x: unset;
}

.headerLayout {
	height: 101px;
	background: #09183c;
	position: fixed;
	z-index: 999;
	width: 100%;
	display: inline;
	/* margin: 84px; */
	top: 0%;
}

.navMenuLayout {
	float: right;
	padding: 30px 50px 30px 50px;
	margin: 10px;
	position: fixed;
	display: block;
	right: 0px;
	width: fit-content;
	z-index: 10;
}

.profileDiv {
	float: right;
	padding: 30px 50px 30px 50px;
	margin: 10px;
	position: fixed;
	display: block;
	right: 0px;
	width: -moz-fit-content;
	width: fit-content;
	z-index: 10;
}

.accountModuleButton {
	background: #09183c;
	font-size: 25px;
	border: 0px;
	color: #ff0051;
	margin-left: 40px;
	cursor: pointer;
}

.tutorialAnimation {
	display: block;
	position: fixed;
	right: 15%;
	left: 15%;
	top: 8%;
}

.tutorialSvg {
	display: block;
	margin: auto;
	position: fixed;
	width: 5000px;
	bottom: 17%;
	z-index: 0;
}

@media screen and (min-width: 1501px) {
	.tutorialText {
		display: block;
		width: 1100px;
		text-align: center;
		margin: auto;
		position: fixed;
		bottom: 7%;
		left: 20%;
	}
	.tutorialText_Description {
		color: #ec477d;
		font-size: 18px;
		font-family: 'Montserrat-Bold', sans-serif;
		padding: 25px;
		line-height: 27px;
	}
	.tutorialText_Title {
		font-size: 25px;
		font-family: 'Montserrat-Bold', sans-serif;
		color: #d41250;
		font-weight: 900;
	}
}

@media screen and (max-width: 1500px) {
	.tutorialSvg {
		display: block;
		margin: auto;
		position: fixed;
		width: 4000px;
		bottom: 20%;
		z-index: 0;
	}
	.tutorialText {
		display: block;
		width: 865px;
		text-align: center;
		margin: auto;
		position: fixed;
		bottom: 7%;
		left: 20%;
	}
	.tutorialText_Title {
		font-size: 23px;
		font-family: 'Montserrat-Bold', sans-serif;
		color: #d41250;
		font-weight: 900;
	}
	.tutorialText_Description {
		color: #ec477d;
		font-size: 15px;
		font-family: 'Montserrat-Bold', sans-serif;
		padding: 25px;
		line-height: 27px;
	}
}

@media screen and (max-width: 1200px) {
	.tutorialSvg {
		display: block;
		margin: auto;
		position: fixed;
		width: 4000px;
		bottom: 20%;
		z-index: 0;
	}
	.tutorialText {
		display: block;
		width: 865px;
		text-align: center;
		margin: auto;
		position: fixed;
		bottom: 7%;
		left: 20%;
	}
	.tutorialText_Title {
		font-size: 23px;
		font-family: 'Montserrat-Bold', sans-serif;
		color: #d41250;
		font-weight: 900;
	}
	.tutorialText_Description {
		color: #ec477d;
		font-size: 15px;
		font-family: 'Montserrat-Bold', sans-serif;
		padding: 25px;
		line-height: 27px;
	}
}

.fade-appear {
	opacity: 0;
}

.fade-appear.fade-appear-active {
	opacity: 1;
	transition: opacity 2000ms ease-in;
}

.fade-enter {
	opacity: 0;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in 500ms;
}

.fade-exit {
	display: block;
	width: 1100px;
	text-align: center;
	margin: auto;
	position: fixed;
	bottom: 7%;
	left: 20%;
}

.fade-exit.fade-exit-active {
	display: block;
	width: 1100px;
	text-align: center;
	margin: auto;
	position: fixed;
	bottom: 7%;
	left: 20%;
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.fade-exit-done {
	display: block;
	width: 1100px;
	text-align: center;
	margin: auto;
	position: fixed;
	bottom: 7%;
	left: 20%;
	opacity: 0;
}

.portfolioLogo_PublicParent {
	padding: 32px 30px 30px 50px;
	margin: 10px;
	float: left;
	width: 186px;
	height: auto;
	display: block;
	position: fixed;
}

.portfolioLogo {
	padding: 20px 30px 30px 50px;
	margin: 10px;
	float: left;
	width: 186px;
	height: auto;
	display: block;
	position: fixed;
}

.logoBtn_account {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	color: #c10c46;
	font-size: 40px;
	background: #09183c00;
	border: 0px;
	width: 150px;
	height: auto;
	cursor: pointer;
}

.contactButton_PublicParent {
	display: inline-block;
	cursor: pointer;
}

.accountButton_PublicParent {
	display: inline-block;
	cursor: pointer;
}

.scene_container {
	background: #09183c;
}

.social {
	bottom: -20px;
	text-align: center;
	display: block;
	position: fixed;
	margin: 50px;
}

.social .link {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 60px;
	height: 40px;
	border-radius: 50%;
	background-clip: content-box;
	padding: 0px 10px 0px 10px;
	transition: .5s;
	background-color: #d41250;
	font-size: 50px;
}

.social .link span {
	display: block;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: #00123c;
}

.social .link i {
	display: block;
	position: absolute;
	text-align: center;
	transform: translate(50%, 50%);
	font-size: 22px;
	color: #00123c;
}

.social .link:hover {
	padding: 20px;
	color: white;
	margin-left: -5px;
	background-color: #ff0051;
	transform: rotate(360deg);
}

.social .link.google-plus {
	color: white;
}

.social .link.twitter {
	color: white;
}

.social .link.facebook {
	color: white;
}

.loginContainer {
	height: 100%;
	width: 370px;
	margin: auto;
	margin-top: 250px;
	text-align: center;
}

.signupContainer {
	height: 100%;
	width: 500px;
	margin: auto;
	margin-top: 250px;
	text-align: center;
}

.loginInputs input {
	width: 95%;
	padding: 15px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #09183c;
	border-radius: 10px;
	box-sizing: border-box;
	background: #071331;
	color: #ffffff; 
}

.loginInputs input::placeholder {
	color: #5d5a74;
	opacity: 1;
	/* Firefox */
}

.signupInputs input {
	width: 70%;
	padding: 15px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #09183c;
	border-radius: 10px;
	box-sizing: border-box;
	background: #071331;
	color: #fff;
}

.signupInputs input::placeholder {
	color: #5d5a74;
	opacity: 1;
	/* Firefox */
}

.loginInputParent {
	text-align: center;
}

.loginWelcomeText {
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	text-align: center;
}

.loginWelcomeText h1 {
	font-size: 45px;
	color: white;
}

.loginWelcomeText p {
	color: white;
	font-size: 22px;
}

.signupWelcomeText {
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	text-align: center;
}

.signupWelcomeText h1 {
	font-size: 37px;
	color: white;
}

.signupWelcomeText p {
	color: white;
	font-size: 19px;
	padding-bottom: 20px;
}

.buttonsContainer {
	display: inline-block;
}

.altbuttonContainer {
	display: inline-block;
}

.altbuttonContainer_Style1 {
	display: block;
}

.loginButton {
	background: #5980E1;
	height: 40px;
	width: 130px;
	border: 0px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 25px 10px 0px 0px;
	cursor: pointer;
}

.loginButton a {
	color: #09183c;
	text-decoration: none;
}

.signupButton {
	background: #5980E1;
	height: 40px;
	width: 235px;
	border: 0px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 15px 10px 0px 0px;
	cursor: pointer;
}

.signupButton a {
	color: #09183c;
	text-decoration: none;
}

.altLoginButton_Style1 {
	background: #0c1e50;
	height: 75px;
	width: 100%;
	color: #ffffff;
	border: 4px solid #122E75;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
}

.altLoginButton_Style1 h1 {
	font-size: 16px;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 15px;
	float: left;
}

.altLoginButton_Style1 img {
	height: 35px;
	margin: 5px;
	float: left;
}

.altLoginButton_Style1 i {
	align-self: center;
	color: yellowgreen;
}

.walletTransactionStatus {
	display: inline-flex;
	float: right;
	margin: 18px;
}

.walletTransactionStatus p {
	margin-bottom: 0px;
	font-size: 13px;
}

.altLoginButton {
	background: #0c1e50;
	height: 75px;
	width: 350px;
	color: #ffffff;
	border: 4px solid #122E75;
	border-radius: 10px;
	cursor: pointer;
}

.altLoginButton h1 {
	font-size: 16px;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 5px;
}

.altLoginButton p {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

.altButtonDisabled {
    background: #676767 !important;
    border: 4px solid #444 !important;
    cursor: not-allowed !important;
}

.altSignupButton {
	background: #0c1e50;
	height: 55px;
	width: 350px;
	color: #ffffff;
	border: 4px solid #122E75;
	border-radius: 10px;
	cursor: pointer;
	display: table-row;
}

.altSignupButton h1 {
	font-size: 16px;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 5px;
	display: table-cell;
	width: inherit;
}

.altSignupButton i {
	display: table-cell;
	width: 10%;
}

.accepted {
	color: #14bb2e;
}

.rejected {
	color: #cb3030
}

.altsignupButton p {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

.createAccountButton {
	background: #09183c;
	height: 40px;
	width: 210px;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	color: white;
	margin: 25px 0px 0px 0px;
	cursor: pointer;
}

.cancelButton {
	background: #09183c;
	height: 40px;
	width: 100px;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	color: white;
	margin: 15px 0px 0px 0px;
	cursor: pointer;
}

.loginOptions {
	display: inline-block;
	font-size: 12px;
	color: #949494;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	width: 95%;
}

.loginOptions a {
	color: #949494 !important;
	text-decoration: none;
	margin: 15px 5px;
	float: right;
}

.loginOptions .divRememberMe {
	margin: 15px 5px;
	float: left;
}

.signupOptions {
	display: inline-block;
	font-size: 12px;
	color: #949494;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	width: 70%;
}

.signupOptions a {
	color: #949494 !important;
	text-decoration: none;
	margin: 15px 5px;
	float: right;
}

.signupOptions .divRememberMe {
	margin: 15px 5px;
	float: left;
}

.boxes {
	margin: auto;
}

/*Checkboxes styles*/

.checkboxActive {
	text-decoration: line-through!important;
}

.checkboxActive::before {
	content: '';
	display: block;
	height: 13px;
	border: 2px solid #5980E1;
	transition: all .12s, border-color .08s;
	width: 5px!important;
	top: 0px!important;
	left: 2px!important;
	border-radius: 0!important;
	opacity: 1!important;
	border-top-color: transparent!important;
	border-left-color: transparent!important;
	transform: rotate(45deg)!important;
}

.checkbox_Style1 {
	margin-top: 25px;
}

.checkbox_Style1_Input {
	display: none;
}

.checkbox_Style1 p {
	font-size: 11px;
	padding: 6px 0px 0px 22px;
	color: #dadada;
}

.checkbox_Style1_Label {
	font: 13px 'Montserrat', sans-serif;
	color: #FFF;
	display: block;
	position: relative;
	padding: 1px 0px 0px 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkbox_Style1_Label::before {
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	border: 2px solid #5980E1;
	position: absolute;
	left: 0;
	top: 3px;
	opacity: .6;
	transition: all .12s, border-color .08s;
}

.checkBox_RememberMe>input[type="checkbox"] {
	display: none;
}

.checkBox_RememberMe>input[type="checkbox"]+label {
	display: block;
	position: relative;
	padding: 1px 0px 0px 22px;
	font: 12px 'Montserrat', sans-serif;
	color: #949494;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkBox_RememberMe>input[type="checkbox"]+label:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid #5980E1;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

.checkBox_RememberMe>input[type="checkbox"]:checked+label:before {
	width: 5px;
	top: -2px;
	left: 2px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
}

.accountNameLanding {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 75px;
	color: #ffffff;
	margin: 25px 0px;
	font-weight: 600;
}

.left {
	float: left;
}

.right {
	float: right;
}

@media screen and (max-width: 1000px) {
	.accountNameLanding {
		font-family: 'Montserrat-Bold', sans-serif;
		font-size: 8vw;
		color: #ffffff;
		margin: 25px 0px;
		font-weight: 600;
	}
}

.accountDetails {
	padding: 0px 65px;
}

.accountContentHeader {
	position: fixed;
	top: 100px;
	width: 100%;
	z-index: 10;
	background: #09183c;
}

.accountContentHeaderParent {
	position: relative;
	top: 100px;
	height: 260px;
	z-index: 10;
	background: #09183c;
}

.accountContent {
	width: 100%;
}

.accountBadges {
	display: inline-flex;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
	width: auto;
	position: relative;
	bottom: 0;
	left: 0;
}

.horizontalGallery {
	height: 100px;
	background-color: #0C1E48;
	margin-top: 100px;
	padding: 0px 65px;
}

@media screen and (max-width: 900px) {
	.accountBadges {
		display: inline-flex;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 600;
		width: auto;
		position: relative;
		bottom: 0;
		left: 0;
	}
}

.accountBadges i {
	margin: 1px 0px 0px 0px;
}

.accountBadges p {
	margin: 0px 30px 0px 10px;
	font-weight: 200;
}

@media screen and (max-width: 740px) {
	.accountBadges p {
		margin: 0px 15px 0px 10px;
		font-weight: 200;
	}
	.accountBadges {
		display: inline-flex;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 600;
		width: auto;
		position: relative;
		bottom: 0;
		left: 0;
	}
}

@media screen and (max-width: 640px) {
	.accountBadges p {
		margin: 0px 10px 0px 10px;
		font-weight: 200;
	}
	.accountBadges {
		display: inline-flex;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		font-weight: 600;
		width: auto;
		position: relative;
		bottom: 0;
		left: 0;
	}
}

.accountToolbar {
	padding: 15px 63px 0px 0px;
	color: white;
	background: #0C1E48;
	margin: 20px 0px 20px 0px;
	overflow-x: scroll;
	overflow-y: hidden;
}

@media screen and (min-width: 1501px) {
	.uploadAnalytics {
		position: relative;
		bottom: 49px;
		left: -25px;
		width: auto;
		display: block;
	}
}

@media screen and (max-width: 1500px) {
	.uploadAnalytics {
		position: relative;
		bottom: 49px;
		left: -25px;
		width: auto;
		display: none;
	}
}

.uploadChart {
	float: left;
	width: 720px;
	height: 80px;
}

.uploadChart tspan {
	display: none;
	line-height: 10px;
}

.uploadChart:hover tspan {
	display: block;
}

.thumbNailContainer {
	display: flex;
	flex-flow: wrap row;
}

.thumbNail {
	display: inline-flex;
	border-radius: 5px;
	border: 3px solid #081229;
	margin: 10px;
	padding: 1px;
	box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

.thumbNailInner {
	display: flex;
	min-width: 0px;
	overflow: hidden;
	flex-flow: row-reverse;
}

.thumbNailInner i {
	position: absolute;
	margin-top: -4px;
	margin-left: 7px;
	color: white;
}

.thumbImg {
	width: auto !important;
	height: 60px !important;
	margin-top: 0px !important;
	vertical-align: middle !important;
}

.thumbIcon {
	width: 60% !important;
	height: 60% !important;
	margin-top: 0px !important;
	vertical-align: middle !important;
}

.uploadBoxLong img {
	height: 60px;
	width: 60px;
	margin-top: 8px;
	vertical-align: middle;
}

.uploadBoxLong p {
	margin: -5px !important;
	font-weight: 100 !important;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 12px !important;
	color: #cccccc !important;
}

.metricsContainer {
	height: 25px;
	display: inline-flex;
	position: relative;
}

.tags {
	color: #D6D6D6;
	font-size: 13px;
	font-family: Montserrat, sans-serif;
	border-bottom: 0.5px solid #D6D6D6;
	cursor: pointer;
	height: fit-content;
	margin-right: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tagContainer {
	display: flex;
	width: 100%;
	overflow: scroll;
	height: 64px;
	flex-wrap: wrap;
}

.RadioOption {
	display: flex;
	margin: 10px 0px;
	cursor: pointer;
}

.RadioOption_Inner {
	border-radius: 15px;
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	margin-top: 2px;
	border: 5px double #0c1e48;
}

.RadioOption_Text {
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	margin-left: 15px;
}

.RadioOption_Text h1 {
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 100;
}

.RadioOption_Text p {
	margin-top: 0px!important;
	color: #b7b7b7;
	font-size: 12px;
}

.formNavButtons {
	display: flex;
	margin-top: 25px;
	justify-content: flex-end;
}

.disableClick {
	cursor: not-allowed !important;
	background: #808080 !important;
}

.formMainButton {
	background: #DC0F56;
	border: 0px;
	width: 25%;
	height: 40px;
	border-radius: 8px;
	margin: 0px 10px;
	cursor: pointer;
}

.formMainButton h1 {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.formSecondaryButton {
	background: #0c1e50;
	width: 25%;
	height: 40px;
	color: #ffffff;
	border: 2px solid #122E75;
	border-radius: 8px;
	cursor: pointer;
}

.formSecondaryButton h1 {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 5px;
}

.mediaShareButtons {
	display: flex;
	margin-top: 30px;
}

.shareButton {
	background: #DC0F56;
	border: 0px;
	width: 60%;
	height: 40px;
	border-radius: 8px;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
}

.shareButton h1 {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.downloadButton {
	background: #0c1e50;
	width: 36%;
	height: 40px;
	color: #ffffff;
	border: 2px solid #122E75;
	border-radius: 8px;
	cursor: pointer;
}

.downloadButton h1 {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
	margin: 5px;
}

.mediaAnnotations {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	margin-bottom: 40px;
}

.mediaAnnotations h1 {
	font-size: 10px;
	font-weight: 700;
}

.mediaAnnotations p {
	font-size: 8px;
	font-weight: 100;
	border-bottom: 0.5px solid #D6D6D6;
	width: fit-content;
}

.annotation {
	margin-right: 30px;
	margin-top: 25px;
}

.column {
	float: left;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.mediaDetailed {
	max-width: 95%;
	max-height: 95%;
	padding: 25px 0px 25px 0px;
}

.mediaDetailedContainer {
	width: 100%;
	height: 600px;
	margin: auto;
	display: flex;
	background-color: #081229;
	justify-content: center;
	align-items: center;
}

.mediaUploadTracker {
	max-width: 95%;
	max-height: 95%;
	padding: 10px;
}

.mediaUploadTrackerContainer {
	width: 100%;
	height: 600px;
	margin: auto;
	display: flex;
	background-color: #081229;
	justify-content: center;
	align-items: center;
}

.mediaContent {
	width: 28%;
	margin-top: 27px;
	margin-right: 60px;
	background-color: #0c1e48;
	height: 664px;
	overflow: scroll;
	float: right;
}

.mediaViewParent {
	width: 63%;
	height: 664px;
	margin: 35px 10px 10px 60px;
	background-color: #0c1e48;
	float: left;
}

.mediaView {
	margin: auto;
	text-align: center;
	padding: 30px;
}

.mediaUploadView {
	margin: auto;
	text-align: center;
}

.ui.progress {
	background: #081127!important;
	margin: 0px 0px 25px 0px!important;
	border-radius: 7px!important;
}

.bar {
	background-color: #36539B!important;
	border-radius: 7px !important;
}

.mediaTitle {
	color: white;
	font-family: Montserrat, sans-serif;
	margin-bottom: 9px !important;
}

.mediaTitle>h1 {
	font-size: 20px;
}

.mediaBody {
	color: #a5a5a5;
	font-family: Montserrat-Regular, sans-serif;
	font-size: 14px;
}

.mediaHeader {
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.mediaContentContainer {
	padding: 100px 65px 50px 65px;
	overflow: scroll;
}

.section {
	border-top: 3px solid #cd597d;
	border-bottom: 3px solid #cd597d;
}

.section>div {
	margin-bottom: 20px;
}

.mediaShare_Section {
	border-top: 0px solid #cd597d;
}

.navDotMediaDetails {
	z-index: 9999;
}

.navDotMediaDetails ul {
	list-style-type: none;
	position: relative;
	width: 70%;
	cursor: pointer;
}

.navDotMediaDetails ul li {
	position: relative;
	color: rgb(193, 12, 70);
	padding-bottom: 40px;
}

.navDotMediaDetails a {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	border-radius: 50%;
	border: 2px solid;
	border-color: rgb(193, 12, 70);
	text-decoration: none;
	float: left;
	margin-top: 2px;
}

.navDotMediaDetails a:hover {
	border-radius: 50%;
	background-color: #801135;
	text-decoration: none;
	border: 2px solid #c10c46;
}

.navDotMediaDetails p {
	float: right;
	margin: 0px;
	display: none;
	color: #c10c4687;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Montserrat-Bold', sans-serif;
}

@media screen and (max-width: 1100px) {
	.mediaViewParent {
		width: 96%;
		height: 664px;
		margin: auto;
		background-color: #0c1e48;
		margin-top: 25px;
		float: none;
	}
	.mediaContent {
		width: 96%;
		min-height: 664px;
		height: auto;
		margin: auto;
		background-color: #0c1e48;
		margin-top: 50px;
		float: none;
	}
	.mediaContentContainer {
		padding: 50px 65px 50px 65px!important;
	}
	.menuButtons {
		display: flex;
		background-color: #0c1e48;
		color: #ffffff;
		position: relative!important;
		width: 100%!important;
		border-bottom: #122e75 4px solid;
		border-top: #122e75 4px solid;
	}
	.buttonsContainer {
		margin: auto;
		text-align: center;
		display: flex;
		/* padding-left: 65px; */
		width: fit-content !important;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
	.mediaContent {
		width: 35%;
		margin-top: 27px;
		margin-right: 60px;
		background-color: #0c1e48;
		height: 664px;
		overflow: scroll;
		float: right;
	}
	.mediaViewParent {
		width: 53%;
		height: 664px;
		margin: 35px 10px 10px 60px;
		background-color: #0c1e48;
		float: left;
	}
}

.menuButtons {
	display: block;
	background-color: #0c1e48;
	color: #ffffff;
	position: absolute;
	width: inherit;
	border-bottom: #122e75 4px solid;
	border-top: #122e75 4px solid;
}

.buttonsContainer {
	margin: auto;
	text-align: center;
	display: flex;
	width: fit-content;
}

.menuButton i {
	padding: 18px 30px;
	cursor: pointer;
	border-radius: 5px;
}

.menuButton p {
	display: none;
	position: relative;
	bottom: 25px;
	font-family: 'Montserrat-Bold', sans-serif;
	width: inherit;
	font-weight: 300;
	margin: auto;
	color: #ffffff70;
	height: 0px;
	font-size: 14px;
}

.menuButton:hover {
	background: #09183c8c;
	text-align: center;
}

.menuButton:hover p {
	display: block;
}

.activeButton {
	background: #122e75;
}

.closeView {
	color: #DC0F56;
	font-size: 34px;
	width: 10%;
	font-weight: 600;
	float: right;
	margin: auto;
	text-align: right;
	padding: 35px 0px;
	cursor: pointer;
}

.mediaGallerySlimNav {
	color: #ffffff;
	font-size: 40px;
	width: 140px;
	font-weight: 600;
	float: left;
	margin: auto;
	text-align: left;
	padding: 31px 0px 20px 0px;
	cursor: pointer;
}

.mediaGallerySlimNav i {
	padding-right: 35px;
}

.uploadFormParent {
	position: fixed;
	top: 246px;
	width: 100%;
	height: 100%;
}

.uploadHeader {
	height: 50px;
}

.uploadClose {
	padding: 0px 0px 0px 65px !important;
	font-size: 30px !important;
	z-index: 100;
}

.uploadContainer {
	display: flex;
	margin: 0px 0px 0px 65px;
}

.uploadStatusContainer {
	width: 100%;
	height: fit-content;
}

.uploadFormContainer {
	width: 100%;
	height: inherit;
	position: relative;
}

.uploadButtonContainer {
	position: absolute;
	bottom: 0;
	width: inherit;
}

.progressBarContainer {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 13px;
	font-weight: 700;
}

.progressBarContainer>p {
	margin-bottom: 5px;
}

.progressStage {
	display: inline-flex;
}

.uploadForm {
	margin-left: 25px;
	font-family: 'Montserrat', sans-serif;
}

.textDescription {
	padding: 15px;
	background: #081229;
	overflow: scroll;
}

.textDescription::-webkit-scrollbar {
	width: 7px !important;
	height: 0px !important;
	background-color: #081229 !important;
}

.textDescription::-webkit-scrollbar-track .textDescription::-webkit-scrollbar-track-piece {
	border-radius: 10px;
}

.textDescription::-webkit-scrollbar-thumb {
	background-color: #2f384f !important;
}

.textDescription::-webkit-scrollbar-corner {
	background-color: #081229 !important;
}

.stepExplainContainer {
	margin-bottom: 20px;
}

.stepExplainContainer h1 {
	font-size: 30px;
	font-weight: 800;
}

.stepExplainContainer p {
	font-size: 12px;
	font-weight: 100;
	color: #d4d4d4;
}

.uploadFormInputContainer p {
	font-size: 12px;
}

.uploadLongInput {
	height: 115px!important;
}

.uploadFormInput {
	display: grid;
	margin-bottom: 15px;
}

.uploadFormInput label {
	margin-left: 2px;
	font-size: 12px;
	font-weight: 600;
}

.uploadFormInput input {
	background: #081229;
	border: 8px solid #081229;
	height: 30px;
	border-radius: 7px;
	margin-top: 8px;
	color: rgb(202, 199, 199);
}

.uploadFormInput input::selection {
	background: #ff0051;
	color: white;
}

.uploadFormInput textarea {
	background: #081229;
	border: 8px solid #081229;
	height: 30px;
	border-radius: 7px;
	margin-top: 8px;
	color: white;
}

.inputError {
	color: #d82e64;
}

.inputErrorTypeTwo {
	border-color: #d82e64 !important;
}

input.inputErrorTypeTwo::placeholder {
	color: #d82e64;
}

input.inputErrorTypeTwo::-webkit-input-placeholder {
    color: #d82e64;
}
.tagify {
	--tags-border-color: #081229;
	--tags-hover-border-color: #CCC;
	--tags-focus-border-color: #3595f6;
	--tag-bg: #94e7ef;
	--tag-hover: #D3E2E2;
	--tag-text-color: #081229;
	--tag-text-color--edit: black;
	--tag-pad: 0.3em 0.5em;
	--tag-inset-shadow-size: 1.1em;
	--tag-invalid-color: #D39494;
	--tag-invalid-bg: rgb(117, 117, 117);
	--tag-remove-bg: rgba(211, 148, 148, 0.3);
	--tag-remove-btn-color: black;
	--tag-remove-btn-bg: none;
	--tag-remove-btn-bg--hover: #c77777;
	--input-color: inherit;
	--tag--min-width: 1ch;
	--tag--max-width: auto;
	--tag-hide-transition: .3s;
	--placeholder-color: rgba(0, 0, 0, 0.4);
	--placeholder-color-focus: rgba(0, 0, 0, 0.25);
	--loader-size: .8em;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	border: 1px solid #ddd;
	border: 1px solid var(--tags-border-color);
	padding: 0;
	line-height: 1.1;
	cursor: text;
	outline: 0;
	position: relative;
	background: #081229;
	transition: .1s;
	border-radius: 7px;
	margin-top: 7px;
}